/lib/config/config.drupal.php
/lib/config/config.eqdkp.php
/lib/config/config.jml3.php
/lib/config/config.joomla3.php
/lib/config/config.mybb.php
/lib/config/config.php
/lib/config/config.phpbb3.php
/lib/config/config.smf.php
/lib/config/config.vanilla.php
/lib/config/config.vb3.php
/lib/config/config.wp.php

.DS_Store
