html {
    height: 100%;
}

body {
    min-width: 800px;
    min-height: 600px;
    font-family: helvetica, arial, sans-serif; 
    font-size: 11px; 
    line-height: 1.5em; 
    background-color: #cccccc; 
    color: black;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

div.appwindow {
    width: 800px; 
    height: 600px; 
    position: relative; 
    top: 50%; 
    margin: -300px auto 0 auto; 
    background-color: white;
}

div.bottom_navigation {    
    width: 800px;
    height: 64px;
    background-color: #eee;
    position: absolute;
    left: 0px;
    top: 536px;
}

.buttongrid {
    position: absolute;
    left: 128px;
    top: 192px;
}

.button_text {
    position: absolute;
    left: 128px;
    top: 160px;
    font-size: 32px;
    color: #000;
    line-height: 32px;
}

.button_small {
    width: 128px;
    height: 128px;
    margin: 5px;
    background-color: #79b;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button_small_disabled {
    width: 128px;
    height: 128px;
    margin: 5px;
    background-color: #eee;
    background-repeat: no-repeat;
}

.button_small:hover {
    background-color: #ace;
    box-shadow: 3px 3px 8px #888;
}

.button_small:active {
    background-color: #ace;
    box-shadow: none;
    margin: 7px 3px 3px 7px;
}

.button_large {
    width: 266px;
    height: 266px;
    margin: 5px;
    background-color: #0a5;
    background-position: 69px 69px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button_large:hover {
    background-color: #0c7;
    box-shadow: 3px 3px 8px #888;
}

.button_large:active {
    background-color: #0c7;
    box-shadow: none;
    margin: 7px 3px 3px 7px;
}

.button_back {
    height: 32px;
    width: 184px;
    font-size: 24px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: -32px -32px;
    padding-top: 16px;
    padding-right: 16px;
    position: absolute;
    text-align: right;
    top: 8px;
    left: 8px;
    cursor: pointer;
    color: #999;
}

.button_back:hover {
    background-color: #ddd;
    box-shadow: 2px 2px 6px #999;    
}

.button_back:active {
    box-shadow: none;
    top: 9px;
    left: 9px;
}

.button_next {
    height: 32px;
    width: 184px;
    font-size: 24px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 120px -32px;
    position: absolute;
    padding-top: 16px;
    padding-left: 16px;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: #444;
}

.button_next:hover {
    background-color: #0c7;
    box-shadow: 2px 2px 6px #999;    
}

.button_next:active {
    box-shadow: none;
    top: 9px;
    right: 7px;
}

.icon_install {
    background-image: url(install_white.png);
}

.icon_update {
    background-image: url(update_white.png);
}

.icon_repair {
    background-image: url(repair_white.png);
}

.icon_bindings {
    background-image: url(bindings_white.png);
}

.icon_config {
    background-image: url(config_white.png);
}

.icon_password {
    background-image: url(password_white.png);
}

.check_result {
    display: inline-block;
    position: absolute;
    left: 251px;
    border-bottom: 1px dotted #ccc;
}

.check_field {
    display: inline-block;
    width: 230px;
    border-bottom: 1px dotted #ccc;
}

#bindings {
    height: 35px;
    vertical-align: top;
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
}

#bindings h2 {
    display: inline-block;
    position: relative;
    top: -7px;
    right: 20px;
    float: right;
    margin: 0px 0px 0px 6px;
    padding: 10px;
    height: 22px;
    font-size: 24px;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    background-color: white;
}

#bindings .binding_select {
    display: inline-block;
    float: left;
}

.config p {
    margin-top: 0px;
    margin-bottom: 1.0em;
}

.config input[type=text] {
    width: 100%;
}

.config input[type=password] {
    width: 100%;
}

.config .left {
    width: 340px;
    height: 390px;
    padding-right: 19px;
    border-right: 1px solid #ccc;
    display: inline-block;
    float: left;
}

.config .right {
    width: 360px;
    padding-left: 20px;
    display: inline-block;
}

.config .groups {
    width: 175px;
    display: inline-block;
}

.config button {
    width: 100%;
    border: 0px;
    padding: 5px;
    background-color: #ddd;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.config button:disabled {
    background-color: #eee!important;
    color: #aaa!important;
    top:0px!important;
    left:0px!important;
}

.config button:hover {
    background-color: #eee;
}

.config button:active {
    top: 1px;
    left: 1px;
}

.config select {
    width: 100%;
}

.binding_label {
    margin-left: 5px;
    width: 160px;
    display: inline-block;
}

#error {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: white;
    border: 1px solid black;
    padding: 6px;
    overflow-y: scroll;
    
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.item {
    border-top: 1px dotted black;
    margin-bottom: 10px;
}

.version {
    font-size: 0.9em;
    color: #999;
}

.step {
    font-size: 0.9em;
    color: #999;
}

.update_log {
    height: 430px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
}

.update_version {
    border-top: 1px solid #666;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.update_step {
    border-top: 1px dotted #ccc;
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
}

.update_step_ok {
    color: green;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 10px;
    background-color: #dfd;
}

.update_step_warning {
    color: orange;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-size: 10px;
    background-color: #fff8ee;
}

.update_step_done {
    color: black;
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #ddd;
}

.database_error {
    color: red;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    background-color: #fdd;
}

.error_head {
    font-weight: bold;
}

.error_line {
    color: black;
}

.resolve_options {
    float: right;
}

.resolve_type {
    margin-right: 5px;
}