/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

html {
    height: 100%;
    min-height: 100%;
}

body {
    box-sizing: border-box;
    background: #898989;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-x;
    
    color: #ccc;
    font-size: 14px;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    min-height: 100%;
}

h1 {
    font-size: 32px;
    margin: 0px;
}

h2 {
    font-size: 20px;
    margin: 0px;
}

h3 {
    font-weight: bold;
    color: white;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

a:hover {
    text-decoration: underline;
}

li {
    background-image: url(../images/bullet.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 1.5em;
}

#slate {
    position: fixed;
    left: 50%;
    margin-left: -514px;
    z-index: -1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: black;
    width: 1024px;
    height: 100%;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
}

#mainframe {
    position: absolute;
    left: 50%;
    margin-left: -512px;
    z-index: 1;
    width: 1024px;
    text-align: center;
}

#head {
    height: 377px;
    width: 100%;
    background-image: url(../images/head.jpg);
    text-align: left;
}

.topmenu {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 730px;
}

.badge {
    width: 140px;
    height: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
}

.github {
    background-image: url(../images/badge_github.png);
}

.googleplus {
    background-image: url(../images/badge_google.png);
}


.github:hover {
    background-image: url(../images/badge_github_hover.png);
}

.googleplus:hover {
    background-image: url(../images/badge_google_hover.png);
}

.download {
    display: block;
    width: 158px;
    height: 58px;
    position: relative;
    left: 840px;
    top: 185px;
    padding-top: 6px;
    padding-left: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/download.png);
    line-height: 16px;
    font-size: 24px;
    color: black;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
    cursor: pointer;
}

.download:hover {
    color: #fd8;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.6);
}

.download .hint {
    font-size: 10px; 
    color: #640;
    text-shadow: none;
}

a.element {
    text-decoration: none;
}

.high {
    color: white;
}

.low {
    color: #999;
}

.separator {
    width: 100%;
    height: 156px;
    background-repeat: no-repeat;
    background-image: url(../images/separator.jpg);
    clear:both;
    margin-top: -30px;
    margin-bottom: -30px;
    clear: both;
}

#keypoints {
    height: 160px;
    width: 100%;
    padding-left: 30px;
}

.keypoint {
    display: inline-block;
    width: 190px;
    background-repeat: no-repeat;
    padding-left: 100px;
    padding-right: 40px;
    text-align: left;
    float: left;
}

.icon_gears {
    background-image: url(../images/icon_gears.png);
}

.icon_tools {
    background-image: url(../images/icon_tools.png);
}

.icon_theme {
    background-image: url(../images/icon_theme.png);
}

#logos {
    width: 700px;
    margin: 0 auto;
    margin-top: -30px;
}

.logo {
    height: 48px;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 20px;
}

.teaser {
    text-align: justify;
    padding-left: 30px;
    padding-right: 50px;
    clear: both;
}

.left img {
    float: left;
    display: inline-block;
    margin-right: 20px;
}

.right img {
    float: right;
    display: inline-block;
    margin-left: 20px;
}

.column {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    width: 430px;
    text-align: justify;
}